{% extends 'base1.html' %}

{% block mycss %}
	#map {
		height: 485px;
		width: 100%;
	}
{% endblock %}
{% block content %}
<script>
window.onload = function() {
	var dom = document.getElementById('map');
		let latlng = { lat: 37.55206240222439, lng: 126.9880649976884 }
		let map = new google.maps.Map(dom, {
	       	center: latlng,
	       	zoom: 12
	   	});
	//const transitLayer = new google.maps.TransitLayer();
	//transitLayer.setMap(map);
	    const image = {
			  url: '/static/images/markericon.ico',
			  size: new google.maps.Size(25, 25),
			  origin: new google.maps.Point(0, 0),
			  anchor: new google.maps.Point(17, 34),
			  scaledSize: new google.maps.Size(25, 25)
		};
		const marker = new google.maps.Marker({position: latlng, icon : image, map: map});

		var contentString = "<p style='color:red;'>" + marker.getPosition() + "</p>";

		const infowindow = new google.maps.InfoWindow({
		    content: contentString
		});
		marker.addListener('click', function() {
		    infowindow.open(map, marker);
		});
};
</script>
	<div class="container p-3 my-3 bg-dark text-white"><h1>주소를 입력받아 지도에 마커 표시 초안</h1></div>
<!--	<button id="btn" type="button" class="btn btn-outline-primary">주소 입력</button>-->
	<div id="map" style="height: 550px;"></div>
{% endblock %}