<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
    <style>
        .mainfrm {
            border : solid;
            }
        .place {
            border : solid;
        }
        .table {
            border : solid;
        }
        li {
            list-style: none;
        }
    </style>
</head>
<body>
    <h1>{{title}}</h1>

    <div class="mainfrm">
        <div class="place">
            <div class="table">
                <div class="card1">
                    <img>
                </div>
                <li>
                    <a href="/todaysPlay/info/">경복궁</a>
                </li>
            </div>
            <div class="table">
                <div class="card1">
                    <img>
                </div>
                <li>
                    <a href="/todaysPlay/info/">창경궁</a>
                </li>
            </div>
            <div class="table">
                <div class="card1">
                    <img>
                </div>
                <li>
                    <a href="/todaysPlay/info/">창덕궁</a>
                </li>
            </div>
        </div>
    </div>
</body>
</html>