<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
    <style>
        .mainfrm {
            border : solid;
            }
        .place {
            border : solid;
        }
        .table {
            border : solid;
        }
        li {
            list-style: none;
        }
    </style>
</head>
<body>
    <h1 class="title">{{title}}</h1>
    {% if title == '고궁' %}
    <div class="mainfrm">
        <div class="place">
            <div class="table">
                <div class="card1">
                    <img>
                </div>
                <li>
                    <a href="/todaysPlay/info/">경복궁</a>
                </li>
            </div>
            <div class="table">
                <div class="card1">
                    <img>
                </div>
                <li>
                    <a href="/todaysPlay/info/">창경궁</a>
                </li>
            </div>
            <div class="table">
                <div class="card1">
                    <img>
                </div>
                <li>
                    <a href="/todaysPlay/info/">창덕궁</a>
                </li>
            </div>
        </div>
    </div>
    <div class="mainPage">
        <span>
            <button type="button" class="btn-where" onclick="location.href='/todaysPlay/main/'">메인 화면으로</button>
        </span>
    </div>
    {% elif title == '유적지' %}
    <div class="mainfrm">
        <div class="place">
            <div class="table">
                <div class="card1">
                    <img>
                </div>
                <li>
                    <a href="/todaysPlay/info/">몽촌토성</a>
                </li>
            </div>
            <div class="table">
                <div class="card1">
                    <img>
                </div>
                <li>
                    <a href="/todaysPlay/info/">흥인지문</a>
                </li>
            </div>
            <div class="table">
                <div class="card1">
                    <img>
                </div>
                <li>
                    <a href="/todaysPlay/info/">숭례문</a>
                </li>
            </div>
        </div>
    </div>
    <div class="mainPage">
        <span>
            <button type="button" class="btn-where" onclick="location.href='/todaysPlay/main/'">메인 화면으로</button>
        </span>
    </div>
    {% elif title == '극장/소극장' %}
    <div class="mainfrm">
        <div class="place">
            <div class="table">
                <div class="card1">
                    <img>
                </div>
                <li>
                    <a href="/todaysPlay/info/">극장A</a>
                </li>
            </div>
            <div class="table">
                <div class="card1">
                    <img>
                </div>
                <li>
                    <a href="/todaysPlay/info/">극장B</a>
                </li>
            </div>
            <div class="table">
                <div class="card1">
                    <img>
                </div>
                <li>
                    <a href="/todaysPlay/info/">극장C</a>
                </li>
            </div>
        </div>
    </div>
    <div class="mainPage">
        <span>
            <button type="button" class="btn-where" onclick="location.href='/todaysPlay/main/'">메인 화면으로</button>
        </span>
    </div>
    {% elif title == '박물관/미술관' %}
    <div class="mainfrm">
        <div class="place">
            <div class="table">
                <div class="card1">
                    <img>
                </div>
                <li>
                    <a href="/todaysPlay/info/">박물관1</a>
                </li>
            </div>
            <div class="table">
                <div class="card1">
                    <img>
                </div>
                <li>
                    <a href="/todaysPlay/info/">미술관1</a>
                </li>
            </div>
            <div class="table">
                <div class="card1">
                    <img>
                </div>
                <li>
                    <a href="/todaysPlay/info/">박물관2</a>
                </li>
            </div>
        </div>
    </div>
    <div class="mainPage">
        <span>
            <button type="button" class="btn-where" onclick="location.href='/todaysPlay/main/'">메인 화면으로</button>
        </span>
    </div>
    {% elif title == '기타' %}
    <div class="mainfrm">
        <div class="place">
            <div class="table">
                <div class="card1">
                    <img>
                </div>
                <li>
                    <a href="/todaysPlay/info/">기타1</a>
                </li>
            </div>
            <div class="table">
                <div class="card1">
                    <img>
                </div>
                <li>
                    <a href="/todaysPlay/info/">기타2</a>
                </li>
            </div>
            <div class="table">
                <div class="card1">
                    <img>
                </div>
                <li>
                    <a href="/todaysPlay/info/">기타3</a>
                </li>
            </div>
        </div>
    </div>
    <div class="mainPage">
        <span>
            <button type="button" class="btn-where" onclick="location.href='/todaysPlay/main/'">메인 화면으로</button>
        </span>
    </div>
    {% endif %}
</body>
</html>